@{
    ViewData["Title"] = "Sobre CostumPet";
}
<div class="row">
    <div class="col-md-8">
        <div class="row inner-padding-minium">
            <h2 class="page-header text-uppercase text-center">@ViewData["Title"]</h2>
            <div class="col-md-12">
                <h3>NOSOTROS</h3>
                <p class="text-justify">CostumPet es sitio web pensado para los amantes del mundo cosplay y de sus mascotas, por lo que ofrecemos a los usuarios la oportunidad de mezclar         estas dos pasiones. Pueden comprar o crear el cosplay ideal para su mascota, desde personajes del anime hasta personajes de comics y películas.
                    CostumPet surge de la idea de poder mezclar dos conceptos, el mundo del cosplay y el amor a nuestras mascotas, por lo que nació la idea de diseñar y elaborar cosplays de diferentes temáticas para nuestras mascotas. CostumPet le apuesta al medio ambiente por lo que hace uso de materiales y procesos amigables con el medio ambiente y además tiene como prioridad la garantía de la calidad de sus productos.
                </p>
            </div>
            <div class="col-md-6" style="padding: 3em">
                <h3>MISIÓN</h3>
                <p class="text-justify">
                    Ofrecer productos originales, innovadores y con precios atractivos. Trabajamos para crecer nuestro negocio con la misma honestidad e integridad que usamos para crear nuestros productos, pensando en la calidad y la satisfacción de nuestros clientes.
                </p>
            </div>
            <div class="col-md-6" style="padding: 3em">
                <h3>VISIÓN</h3>
                <p class="text-justify">
                    Ser una empresa líder en la confección, comercialización y distribución de cosplays para mascotas, que puedan llegar a cualquier lugar que haya un nicho de clientes, para que puedan obtener un producto original, creativo, innovador y acorde a sus necesidades.
                </p>
            </div>
            <div class="col-md-12 inner-padding-minium text-center">
                <h3>CONÓCENOS COSTUMVÍDEO</h3>
                <iframe width="600" height="320" src="https://www.youtube.com/embed/BtJG2cdArII" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <partial name="_Aside"/>
    </div>
</div>
<br>
<br>


