@{
    ViewData["Title"] = "Contácto";
}
<div class="row inner-padding-minium">
    <h2 class="text-center page-header text-uppercase">@ViewData["Title"]</h2>
    <div class="col-md-12">
        <h3>BOGOTÁ</h3>
    </div>
    <div class="col-md-12">
        <h3>CALI</h3>
    </div>
</div>

