@using Microsoft.AspNetCore.Identity
@using Mascotas.Areas.Identity.Data
@inject SignInManager<UserIdentity> SignInManager
@inject UserManager<UserIdentity> UserManager
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CostumPet</title>
    <link rel="shortcut icon" type="image/png" href="~/favicon.png"/>
    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/css-stars.css">
        <link rel="stylesheet" href="~/css/site.css" />
        <link rel="stylesheet" href="~/css/blog.css" />
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/css-stars.css">
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>
<nav class="navbar navbar-inverse navbar-static-top">
    <div class="container-fluid">
        <div class="row inner-padding top-header display-none">
            <div class="col-md-6 center-block">
                <span class="navbar-brand color-white font-bior">COSPLAYS Y ACCESORIOS PARA TU SUPERMASCOTA</span>
            </div>
            <div class="col-md-6">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a asp-controller="Costum" asp-action="Pqrs" class="color-white">
                            <i class="glyphicon glyphicon-question-sign" aria-hidden="true"></i>
                            Preguntas Frecuentes
                        </a>
                    </li>
                    <li>
                        <a asp-controller="Costum" asp-action="Contact" class="color-white">
                            <span class="glyphicon glyphicon-headphones" aria-hidden="true"></span>
                            Contáctanos
                        </a>
                    </li>
                    <li>
                        <a href="#"> <i class="fab fa-facebook-f color-white"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fab fa-instagram color-white"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fab fa-twitter color-white"></i></a>
                    </li>
                    <li>
                        <a href="#"> <i class="fab fa-youtube color-white"></i></a>
                    </li>
                </ul>
            </div>
        </div>
        <br>
        <div class="navbar-header" style="padding-left: 20em">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <img class="navbar-brand logo" src="~/images/Logo.png" alt="logo"/>
            <a asp-area="" asp-controller="Costum" asp-action="Index" class="navbar-brand">
                <p class="font-bior">CostumPet</p>
                <small class="font-bior" >Cosplays para tu SuperMascota </small>
            </a>
        </div>
        <div class="row display-none inner-padding search-buttons">
            <form class="navbar-form navbar-left search">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="¿Qué estas buscando?">
                </div>
                <button type="submit" class="btn btn-default">
                    <i class="fas fa-search"></i>
                </button>
            </form>
            @if (SignInManager.IsSignedIn(User))
            {
                <div class="dropdown">
                    <p class="navbar-text navbar-right dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-shopping-cart navbar-link user-cart"></i>
                    </p>
                    <div class="dropdown-menu menu-lr dropdown-cart" aria-labelledby="dropdownMenu1">
                        <h5 class="text-center title-bold">Productos añadidos</h5>
                        <ul class="list-group" id="list-prods"></ul>
                    </div>
                </div>
            }
            <div class="dropdown">
                <p class="navbar-text navbar-right dropdown-toggle" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-user-circle navbar-link user-cart"></i>
                </p>
                <div class="dropdown-menu menu-lr" aria-labelledby="dropdownMenu2">
                    <partial name="_LoginPartial"/>
                </div>
            </div>
        </div>
        <br>
        <div class="row inner-padding navlists">
            <ul class="nav  navbar-nav navbar-collapse collapse">
                <li class="li-item"><a asp-controller="Costum" asp-action="Index">Inicio</a></li>
                <li class="li-item"><a asp-controller="Costum" asp-action="About">Sobre CostumPets</a></li>
                <li class="li-item"><a asp-controller="Costum" asp-action="Dogs">Para tu SuperCan</a></li>
                <li class="li-item"><a asp-controller="Costum" asp-action="Cats">Para tu SuperCat</a></li>
                <li class="li-item"><a asp-controller="Costum" asp-action="Posts">CostumBlog</a></li>
            </ul>
            <span class="navbar-text navbar-right navlists display-none">
                <i class="fab fa-whatsapp" style="color: #46D869"> </i> +57 3211234567 |
                <i class="far fa-clock" style="color: #9ACFEA"> </i> 9:00AM-05:00PM
            </span>
        </div>
    </div>
</nav>
<div class=" menu-prom row inner-padding">
    <div class="col-md-5">
        <p>Paga en efectivo o con cualquier tarjeta débito o crédito <i class="fas fa-credit-card"></i></p>
    </div>
    <div class="col-md-3 text-center">
        <p>Compra segura <i class="fas fa-lock"></i></p>
    </div>
    <div class="col-md-4 text-right">
        <p>Enviamos a todo Colombia <i class="fas fa-shipping-fast"></i></p>
    </div>
</div>
<environment include="Development">
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/lib/jquery/dist/jquery-ui.min.js"></script>
    <script src="~/js/jquery.barrating.min.js"></script>
</environment>
<environment exclude="Development">
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/lib/jquery/dist/jquery-ui.min.js"></script>
    <script src="~/js/jquery.barrating.min.js"></script>
</environment>
<partial name="_CookieConsentPartial" />
<div class="inner-padding">
    @RenderBody()
</div>
<section class="container-fluid inner-padding footer-info">
    <br>
    <div class="row">
        <div class="col-md-3">
            <p class="title-bold">Sobre CostumPet</p>
            <p class="text-justify">CostumPet es sitio web pensado para los amantes del mundo cosplay y de sus mascotas, por lo que ofrecemos a los usuarios la oportunidad de mezclar estas dos pasiones. Pueden comprar o crear el cosplay ideal para su mascota, desde personajes del anime hasta personajes de comics y películas.</p>
            <br>
            <div class="text-center">
                <img id="logo-footer" src="~/images/LogoFooter.png" alt="logo-footer">
            </div>
        </div>
        <div class="col-md-2">
            <p class="title-bold">DE TU INTERÉS</p>
            <ul id="list-items-footer">
                <li><a asp-controller="Costum" asp-action="MapSite">Mapa de sitio</a></li>
                <li><a asp-controller="Costum" asp-action="Pqrs">Preguntas frecuentes</a></li>
                <li><a asp-controller="Costum" asp-action="Contact">Contáctanos</a></li>
            </ul>
            <br>
            <i class="fab fa-facebook-f social-footer"></i>
            <i class="fab fa-instagram social-footer"></i>
            <i class="fab fa-twitter social-footer"></i>
            <i class="fab fa-pinterest-p social-footer"></i>
            <i class="fab fa-youtube social-footer"></i>
        </div>
        <div class="col-md-3">
            <p class="title-bold">BOLETÍN</p>
            <p class="text-justify">
                ¡Únete al lado oscuro! Suscríbete a nuestro boletín y obtén información de nuestros eventos y promociones
            </p>
            <br>
            <input type="email" class="form-control" placeholder="Ingresa tu correo electrónico">
            <br>
            <button class="btn btn-info center-block">Suscribirse</button>
        </div>
        <div class="col-md-4">
            <p class="title-bold">ENCUENTRÁNOS</p>
            <div style="width: 100%"><iframe width="100%" height="200" src="https://maps.google.com/maps?width=100%&height=600&hl=es&q=Bogota%2C%20Colombia+(CostumPets)&ie=UTF8&t=&z=14&iwloc=B&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"><a href="https://www.mapsdirections.info/crear-un-mapa-de-google/">Crear mapa interactivo</a> by <a href="https://www.mapsdirections.info/">Mapa España</a></iframe></div>
        </div>
    </div>
    <br>
</section>
<br>
<footer class="inner-padding text-center">
    <p>Bogotá: Calle 150 #10-35 - C.C Las Mascotas | Cali: C.C Mascoticas Center L-209</p>
    <p>&copy; 2018 - <strong>CostumPets</strong> Todos los derechos reservados.</p>
</footer>
<environment include="Development">
    <script src="~/js/site.js" asp-append-version="true"></script>
</environment>
<environment exclude="Development">
    <script src="~/js/site.js" asp-append-version="true"></script>
</environment>
@RenderSection("Scripts", required: false)
</body>
</html>
