<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CostumPets</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>
    <nav class="navbar navbar-inverse navbar-static-top">
        <div class="container-fluid">
            <div class="row inner-padding top-header display-none">
                <div class="col-md-6 center-block">
                    <span class="navbar-brand color-white">COSPLAYS Y ACCESORIOS PARA TU SUPERMASCOTA</span>
                </div>
                <div class="col-md-6">
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="" class="color-white">
                                <i class="glyphicon glyphicon-question-sign" aria-hidden="true"></i> Preguntas Frecuentes
                            </a>
                        </li>
                        <li>
                            <a asp-controller="Home" asp-action="Contact" class="color-white">
                                <span class="glyphicon glyphicon-headphones" aria-hidden="true"></span> Contáctanos
                            </a>
                        </li>
                        <li>
                            <a href="#"> <i class="fab fa-facebook-f color-white"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fab fa-instagram color-white"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fab fa-twitter color-white"></i></a>
                        </li>
                        <li>
                            <a href="#"> <i class="fab fa-youtube color-white"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <br>
            <div class="navbar-header inner-padding">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <img class="navbar-brand logo" src="~/images/logo_temp.jpg" alt="logo"/>
                <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">CostumePets</a>
                <p class="navbar-text">Slogan</p>
            </div>
            <div class="row display-none inner-padding">
                <form class="navbar-form navbar-left search">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="¿Qué estas buscando?">
                    </div>
                    <button type="submit" class="btn btn-default">
                        <i class="fas fa-search"></i>
                    </button>
                </form>
                <div class="dropdown">
                    <p class="navbar-text navbar-right dropdown-toggle" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-user-circle navbar-link user-cart"></i>
                    </p>
                    <div class="dropdown-menu menu-lr" aria-labelledby="dropdownMenu2">
                        <partial name="_LoginPartial"/>
                    </div>
                </div>
                <p class="navbar-text navbar-right"><i class="fas fa-shopping-cart navbar-link user-cart"></i></p>
            </div>
            <br>
            <div class="row inner-padding navlists">
                <ul class="nav  navbar-nav navbar-collapse collapse">
                    <li class="li-item"><a asp-area="" asp-controller="Home" asp-action="Index">Inicio</a></li>
                    <li class="li-item"><a asp-area="" asp-controller="Home" asp-action="About">Sobre CostumPets</a></li>
                    <li class="li-item"><a asp-area="" >Para tu SuperCan</a></li>
                    <li class="li-item"><a asp-area="" >Para tu SuperCat</a></li>
                    <li class="li-item"><a asp-area="" >CostumBlog</a></li>
                </ul>
                <span class="navbar-text navbar-right navlists display-none">
                    <i class="fab fa-whatsapp"> +57 3211234567 | </i>
                    <i class="far fa-clock"> 9:00AM-05:00PM</i>
                </span>
            </div>
        </div>
    </nav>
    <partial name="_CookieConsentPartial" />
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2018 - CostumPets</p>
        </footer>
    </div>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
