/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.prueba {
    height: 200px;
    background-color: gray;
    margin-bottom: 1em;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
    height: calc(400px + 1em);
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/** CUSTOM PROPERTIES*/
.color-white {
    color: white !important;
    font-weight: bold;
}

.inner-padding{
    padding-right: 10em;
    padding-left: 10em;
}

.title-bold {
    font-weight: bold;
}

.text-gray {
    color: #959595;
}

.text-black {
    color: black;
}

.text-italic {
    font-style: italic;
}

/*Separator sections*/
.section-dv {
    margin: 1em 0;
}

.line {
    width:38%;
    border-top:1px solid #999;
    position: relative;
    top:10px;
    float:left;
}

.title {
    font-weight:bold;
    float:left;
    width: 20%;
}

.arrow-top {
    font-size: 2.5em;
    margin-left: .5em;
    margin-top: -.2em;
}

.arrow-top:hover {
    cursor: pointer;
}
/* HEADER*/
.logo {
    height: 80px;
    width: 80px;
    background-color: gray;
    margin-right: 1em;
}

ul li.li-item {
    margin-right: 2em;
    font-size: 1.2em;
}

.top-header {
    background-color: #9acfea;
}

.search-buttons {
    margin-top: 15px;
}

div.navlists {
    background-color: #ececec;
}

form.search {
    width: 50% !important;
}

form.search input.form-control {
    width: 100%;
}

form.search div {
    width: 90%;
}

.user-btn {
    position: relative;
}

.menu-lr {
    right: 0;
    top: 50px;
    left: unset;
}

.user-cart {
    font-size: 2em;
    margin: 0 .5em;
}

.user-cart:hover {
    cursor: pointer;
}

/*GALERY STYLES*/
.slideshow {
    display: flex;
    align-items: stretch;
    width: 100%;
}

.slideshow-items {
    white-space: nowrap;
    transition: transform 1s ease-in-out;
}

.slideshow-item {
    display: inline-block;
    width: 25%;
}

.image-prod {
    width: 240px;
    height: 240px;
}
.dropdown-cart {
    padding: 5px 0;
    width: 200px;
    max-height: 300px;
    overflow: auto;
}

.modal-success-cart p {
    padding: 1em 2em;
}
.btn-to-cart {
    position: absolute;
    top: 25px;
    right: 25px;
    font-size: 1.5em;
    color: #cecece;
}

.btn-to-cart:active {
    color: gray;
}

.card-efect-hover {
    transition: transform .5s ease;
    position: relative;
}

.card-efect-hover:hover {
    cursor: pointer;
    transform: scale(1.02);
}

.scroller{
    flex: 1;
    overflow: hidden;
}

.btn-ctrl{
    width: 30px;
    border: none;
    background: transparent;
    color: gray;
    font-size: 40px;
    text-align: center;
    outline: none;
    padding: 0;
    opacity: 0.5;
    transition: opacity 300ms ease-out;
}

.btn-ctrl:hover{
     opacity: 1;
 }


/* custom bootstrap*/
.dropdown-menu-custom {
    padding: 1em 2em;
    margin: 0;
}
.dropdown-menu-custom li{
    list-style: none;
}

/* FOOTER */
section.footer-info {
    background-color: #EFEFEF;
}

section.footer-info .promo {
    width: 100px;
    border: 2px outset gray;
}

#list-items-footer{
    list-style: none;
    padding: 0;
}

#list-items-footer li {
    margin-bottom: 1em;
    text-decoration: underline;
}

.social-footer {
    margin-right: 1em;
}

.social-footer:hover {
    cursor: pointer;
    color: #cecece;
}

.paw {
    font-size: 3em;
    text-align: center;
    display: block !important;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

@media screen and (max-width: 1334px) {
    /* Hide captions */
    .inner-padding{
        padding-right: 4em;
        padding-left: 4em;
    }

    .display-none {
        display: none;
    }
}

/* CHANGE MEDIA QUERY COLLAPSE NAVBAR*/
@media (max-width: 1333px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }
}